<!DOCTYPE html>
<html>

<%- include('../partials/head'); %>
<body class="container">

    <%- include('../partials/header', {pagina: 'contato'} ); %>

    <main>
        <div class="jumbotron">
            <h1>Contato</h1>
            <p>Algumas formas de contato</p>
        </div>
    </main>

    <%- include('../partials/footer') %>


</body>

</html>