*{margin:0}

header{
    padding: 4rem;
    background-color: lightgray;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: .8rem;
}
ul li:last-child {
    background-color : rgb(105, 188, 215);
    border-radius: 8px;
    color: white;
    padding: .4rem;
}